.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
background-color: lightseagreen;
margin: 100px auto;
width: 90%;
box-shadow: 1px 1px 4px 1px lightgray;


}


.container form{

  width:100% ; 

  padding: 10px;


}


.container label{

  display: block;
  letter-spacing: 0.1rem;
  font-style: italic;
  margin-bottom: 3px;

}


.container input , 

.container textarea {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border:none;
  box-shadow: 1px 1px 4px 1px rgb(58,57,57);
}

.container input:focus,
.container textarea:focus{

  box-shadow: 1px 1px 4px 1px rgb(49,170,240);
}

.singleItem {

  margin: 10px 0;

}

.btn{

  width:100px;
  text-align: center;
 
}


.btn button {
width:150px;
font-size: 18px;
letter-spacing: 0.5rem ;
padding: 5px 10px;
border:1px solid transparent ; 
outline:none ; 
transition:all 0.5s ease-in-out;
position:relative;
margin-top: 5px;
}

.btn button:hover{
border:1px solid #fefefe ;
background-color: rgb(200,200,200); 
cursor: pointer;

}


.msg {
text-align: center;
margin: 0 auto;
margin-bottom:10px;
letter-spacing: 0.2rem;
font-style: italic;
width:340px;
padding: 3px;
font-size: 16px;
font-weight: bold;
color:rgb(10,100,10);
background-color: #ffff;
border-radius: 5px;
display: none;

}

/* .msgApper{
  display: block;
} */


@media screen and (min-width:650px){
  .container {
    width: 70%; 
     /* 寬度 1:32*/
  }
}